<section data-ng-controller="GiftController">
  <h4>Order id: {{orderId}} - {{name}}</h4>
  <!-- gift list -->
  <button data-toggle="modal" data-target="#ASINModal" style="float:right" class="btn btn-success"> Add Item by ASIN</button>  
  <div>
    <ul id="gift-list">
        <li class="gift well" ng-repeat="gift in giftList">
          <a ng-href={{gift.url}}>
              <img ng-src={{gift.thumbnail}}>
              <p>{{gift.name}}</p>
              <p class="price">{{gift.price}}</p>
          </a>
          <button ng-click="remove(gift)" style="position: absolute; bottom: 10px; right: 10px;" class="btn btn-xs btn-danger"> Remove Me - </button>
        </li>
      </ul>
  </div>

  <form class="form-wrapper cf" data-ng-submit='search()'>
    <input ng-model="searchTerm" type="text" placeholder="Search here..." required="">
    <button type="submit">Search</button>
  </form>
  <ul id="searched-List">
      <li ng-show="showItem(gift)" class="gift well" ng-repeat="gift in searchedGift">
        <a ng-href={{gift.DetailPageURL}}>
            <img ng-src={{gift.MediumImage.URL}}>
            <p>{{gift.ItemAttributes.Title}}</p>
            <p class="price">{{gift.ItemAttributes.ListPrice.FormattedPrice}}</p>
          </a>
        <button ng-click="addToList(gift)" style="position: absolute; bottom: 10px; right: 10px;" class="btn btn-xs btn-success"> Add Me + </button>
      </li>
    </ul>
    <button style="margin-bottom:50px; float:right; clear: both;" ng-show="showNext()" ng-click="nextpage()" class="btn btn-default"> NextPage -></button>


  <div class="modal fade" id="ASINModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
      <h2>Add Item by ASIN</h2>
          <h4 class="modal-title" id="myModalLabel">Enter your item's ASIN below, ensure this is from amazon.com and not other locale</h4>
        </div>
        <div class="modal-body">
            <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="asin" ng-model="asin">
            <span class="input-group-btn">
              <button id="modal-signup" class="btn btn-success" type="button" ng-click="addASINToList()">Enter</button>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
