<section data-ng-controller="OrderController">
	<h1 style="float:left">Order {{order._id}}</h1>
	<div style="clear:both; width:50%;">
		<p> Owner: {{order.owner}}</p>
		<p> Name: {{order.gifter.name}}</p>
		<p> Gender: {{order.gifter.gender}}</p>
		<p> Date Due: {{order.dueDate}}</p>
		<p> Age: {{order.gifter.age}}</p>
		<hr/>
		<b>Recipient</b>
		<p> Occasion: {{order.occasion}}</p>
		<p> Gender: {{order.recipient.gender}}</p>
		<p> Age: {{order.recipient.age}}</p>
		<p> Interests: {{order.recipient.interests}}</p>
		<p> Important Info: {{order.info}}</p>
	</div>

	<hr/>

	<div>
		<b>Gift Lists </b>
		<button data-toggle="modal" data-target="#GiftList" style="float:right" class="btn btn-success"> Add New Gift List</button>

		<ul>
			<li ng-repeat="giftlist in giftLists"><a ng-href="/#!/order/{{order._id}}/giftList/{{giftlist._id}}">{{giftlist.name}}</a></li>
		</ul>
	</div>

	<hr/>
	<div>
		<b>Gift Purchased</b>
		<button data-toggle="modal" data-target="#Complete" style="float:right" class="btn btn-danger"> Set Order To Complete</button>
	</div>

	<!-- GiftList Modal -->
	<div class="modal fade" id="GiftList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
			<h2>Add New Gift List</h2>
	        <h4 class="modal-title" id="myModalLabel">Enter your gift list name below </h4>
	      </div>
	      <div class="modal-body">
	        	<div class="input-group input-group-lg">
			      <input type="text" class="form-control" id="giftListName" placeholder='Drinking with Hemingway' ng-model="giftListName">
			      <span class="input-group-btn">
			        <button id="modal-signup" class="btn btn-success" type="button" ng-click="AddGiftList()">Enter</button>
			      </span>
			    </div>
	      </div>
	      
	    </div>
	  </div>
	</div>

	<!-- Set Order To Complete Modal -->
	<div class="modal fade" id="Complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
			<h2>Set Order To Complete</h2>
	       </div>
	      <div class="modal-body">
	      	<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
	        	<div class="input-group input-group-lg">
			      <span class="input-group-btn">
			        <button id="modal-signup" class="btn btn-danger" type="button" ng-click="CompleteOrder()">Yes</button>
			      </span>
			    </div>
	      </div>
	      
	    </div>
	  </div>
	</div>

</section>
